﻿@model List<GestionCredencialesAs400.Entities.Server>

<div class="row">
    <div>
        <h3>Librerías As400</h3>
    </div>

    <div class="row" style="margin-top: 50px !important;">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <form class="col s12" id="formValidate" onsubmit="return false">
                                <div class="row">
                                    <div class="input-field col s4">
                                        <select id="Libreria" name="Servidor" class="validate">
                                            <option value="" disabled selected>Elija un Servidor</option>
                                            @foreach (var item in Model)
                                            {
                                                <option value="@item.Id">@item.Nombre</option>
                                            }
                                        </select>
                                        <label>Servidor</label>
                                    </div>
                                    <div class="input-field col s4">
                                        <input placeholder="Libería As400" id="Liberia" name="Libreria" type="text" class="validate">
                                        <label for="libreria">Librería</label>
                                    </div>
                                    <div class="input-field col s4">
                                        <button type="submit" id="agregar" class="waves-effect waves-light btn green" id="AddButton">Nueva Librería</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <div id="LibrariesTable">
                        <div class="row">
                            <div>
                                <div id="LibrariesTableContainer" style="width:90%; margin:0 auto;" hidden>
                                    <table id="table" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/views/libraries.js"></script>