﻿<div class="row">
    <div>
        <h3>Servidores As400</h3>
    </div>
    <div class="row col s12 m12">
        <div style="margin-bottom: 10px !important;margin-top: 10px !important;" class="right align ">
            <a class="waves-effect waves-light btn green" id="AddButton"> Nuevo Sevidor</a>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m12">
            <div class="card">

                <div class="card-content">
                    <div class="row">

                        <div id="ServersTable">
                            <div class="row">
                                <div>
                                    <div id="ServersTableContainer" style="width:90%; margin:0 auto;" hidden>
                                        <table id="table" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Nombre</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<script src="~/Scripts/views/servers.js"></script>

