﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/SiteJS")
    @Styles.Render("~/bundles/materializeCSS")
    @Styles.Render("~/bundles/dataTablesCSS")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/SiteCSS")
    @Scripts.Render("~/bundles/materializeJS")

    @Scripts.Render("~/bundles/dataTablesJS")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    <script src="~/Content/materialize.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>

        var root = "@Url.Content("~")";

    </script>

    <script src="~/Scripts/sweetalert.min.js"></script>
</body>
</html>
