﻿/*.border-tag {
    border: 1px solid silver !important;
    border-radius: 3.5px;
    margin-top: 5px;
    margin-bottom: 10px !important;
    padding: 10px;
}

.table.dataTable thead html {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 18px 10px 5px;
    border-bottom: 1px solid #F44336;
    border-radius: 0px !important;
}

.table.dataTable thead th:first-child {
    border-left: 1px solid #ddd;
}

.marginaize_top {
    margin-top: 10px;
}

.marginaize_bottom {
    margin-top: 10px;
}

.border-tag-header {
    border-top: 1px solid silver !important;
    border-left: 1px solid silver !important;
    border-right: 1px solid silver !important;
    border-bottom: none;
    border-top-left-radius: 3.5px;
    border-top-right-radius: 3.5px;
    margin-top: 5px;
    padding: 10px;
}

.tableHeader {
    color: #F44336;
}

.fadingBorder-on {
    -webkit-animation-name: FadingBorderEffect;
    -webkit-animation-duration: 6s;
    animation-name: FadingBorderEffect;
    animation-duration: 6s;
    border: 2px solid transparent;
}

@-webkit-keyframes FadingBorderEffect {
    from {
        border-color: #F44336;
    }

    to {
        border-color: silver;
    }
}

@keyframes FadingBorderEffect {

    from {
        border-color: #F44336;
    }

    to {
        border-color: silver;
    }
}
*/